<div class="flex flex-col items-center gap-4 p-6">
  @if(level) {
    <h2 class="text-xl font-bold">Nivel {{ level | uppercase }}</h2>
  }
  @if(topic) {
    <h2 class="text-xl font-bold">Tema {{ topic | uppercase }}</h2>
  }

  <!-- Generador de QR -->
  <qrcode
    [qrdata]="qrData"
    [width]="qrSize"
    [errorCorrectionLevel]="'M'"
    class="border shadow-lg p-4 bg-white rounded-xl"
  ></qrcode>

  <div>
    <a [href]="qrData" pButton target="_blank" rel="noopener noreferrer">
      @if(level) {
        <span pButtonLabel>Ir al nivel <b>{{ level | uppercase }}</b></span>
      }
      @if(topic) {
        <span pButtonLabel>Ir al tema <b>{{ topic | uppercase }}</b></span>
      }
    </a>
  </div>
</div>
